@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-light: rgb(250, 250, 250);
  --clr-dark: rgb(29, 29, 29);
  --clr-accent: rgb(193, 59, 59);
  --clr-compass: rgba(255, 255, 255, 0.3);
  --clr-dark-bg: rgba(0, 0, 0, 0.4);
  --clr-light-bg: rgba(0, 0, 0, 0.03);
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.15rem;
  --fs-body: 1rem;
  --fs-small: 0.75rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --transition: all 0.25s ease-in-out;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Import Google Font */
/* Set global font and properties */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

p {
  font-size: var(--fs-body);
}

h2,
h3 {
  text-transform: uppercase;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  border-bottom: 1px solid var(--clr-accent);
}

a {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a:link, a:visited {
  color: var(--clr-accent);
}

a:hover, a:active {
  color: var(--clr-light);
}

main {
  width: 100%;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

main > header > .header-text {
  padding: 1em 0;
}

footer {
  padding: 1em 0;
}

.flex-container {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container--pad-y {
  padding: 1.5em 1em;
}

.flex-container > .info-text {
  width: 100%;
  padding: 1em 0;
}

.flex-container > .info-text > p {
  padding: 0.5em 0;
}

.current-weather {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'sol wind' 'temperature wind' 'pressure wind';
  gap: 0.75em;
}

.current-weather > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sol;
}

.current-weather > div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: temperature;
}

.current-weather > div:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pressure;
}

.current-weather > div:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: wind;
}

.current-weather > div {
  padding: 0.5em;
  background-color: var(--clr-dark-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.previous-weather {
  width: 100%;
  margin: 1.5em 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.previous-weather__days {
  width: 100%;
  padding: 0.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.previous-weather__item {
  margin: 0 0.25em;
  background-color: var(--clr-light-bg);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  .current-weather {
        grid-template-areas: 'sol sol wind' 'temperature pressure wind';
  }
  .current-weather > div:nth-child(2),
  .current-weather > div:nth-child(3) {
    padding: 0.5em 0.75em;
  }
  .current-weather > div:nth-child(4) {
    padding: 0.5em 1.5em;
  }
  .flex-container > .info-text {
    width: 80%;
  }
}

.wind-compass {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  margin: 0.75em auto;
  border: 3px solid var(--clr-light);
  background-color: var(--clr-compass);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.wind-compass > div {
  --direction: 45deg;
  --size: 1rem;
  width: var(--size);
  height: calc(var(--size) * 3);
  background-color: var(--clr-light);
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  -webkit-transform: translateY(-50%) rotate(var(--direction));
          transform: translateY(-50%) rotate(var(--direction));
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn {
  padding: 0.25em 0.5em;
  margin: 0.75em 0;
  border: 1px solid var(--clr-accent);
  border-radius: 12px;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  font-size: var(--fs-small);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover, .btn:focus, .btn:active {
  background-color: var(--clr-accent);
  color: var(--clr-light);
}
