/* Reset default box-sizing, margin and padding */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
}

/* Variables definition */
:root {
  --clr-light: rgb(250, 250, 250);
  --clr-dark: rgb(29, 29, 29);
  --clr-secondary: rgb(193, 59, 59);
  --clr-accent-light: rgb(223, 131, 131);
  --clr-accent-dark: rgb(114, 14, 14);
  --clr-dark-bg: rgba(0, 0, 0, 0.6);
  --clr-light-bg: rgb(240, 240, 240);
  --clr-compass: rgba(255, 255, 255, 0.3);
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-body: 1rem;
  --fs-sol: 2rem;
  --fs-small: 0.75rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --transition: all 0.4s ease;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  text-align: center;
  line-height: 1.5;
  color: var(--clr-light);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

.current-weather__item > h2 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.sol-heading {
  font-size: var(--fs-sol);
}

section {
  color: var(--clr-dark);
}

main {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  background-image: url("../assets/red_planet_bg.jpg");
  background-position: center;
  background-size: cover;
}

section {
  width: 100%;
  padding: 2em 0;
  background-color: var(--clr-light-bg);
}

footer {
  width: 100%;
  padding: 1.5em 0;
  background-color: var(--clr-dark);
}

.wrapper {
  width: 90%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-weather {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-weather > article {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  background-color: var(--clr-dark-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.current-weather > article > h2 {
  padding-bottom: 0.325em;
  margin-bottom: 0.325em;
  border-bottom: 1px solid var(--clr-accent-light);
}

.wind-direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  margin: 0.75em auto;
  border: 3px solid var(--clr-light);
  background-color: var(--clr-compass);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.wind-direction > div {
  --direction: 45deg;
  --size: 1rem;
  width: var(--size);
  height: calc(var(--size) * 3);
  background-color: var(--clr-light);
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  -webkit-transform: translateY(-50%) rotate(var(--direction));
          transform: translateY(-50%) rotate(var(--direction));
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.previous-weather {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previous-weather__days {
  width: 100%;
  padding: 0.75em 0;
  background-color: var(--clr-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.previous-weather__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

.previous-weather__view-more {
  min-width: 50px;
}

.btn {
  display: block;
  margin: auto;
  border: 1px solid var(--clr-accent-dark);
  background-color: transparent;
  color: var(--clr-accent-dark);
  cursor: pointer;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-primary {
  padding: 0.25em 0.75em;
  border-radius: 5px;
  font-size: var(--fs-small);
  text-transform: uppercase;
}

.btn-circle {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.btn:hover, .btn:focus {
  background-color: var(--clr-accent-dark);
  color: var(--clr-light);
}

@media screen and (min-width: 900px) {
  main {
    height: 85vh;
  }
  .flex-container {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .current-weather {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .current-weather > h1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
