/* Reset default box-sizing, margin and padding */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove horizontal scrolling */
body {
	overflow-x: hidden;
}

/* Variables definition */
:root {
	--clr-light: #fefefe;
	--clr-dark: #1d1d1d;
	--clr-secondary: #c13b3b;
	--clr-accent-light: #df8383;
	--clr-accent-dark: #720e0e;
	--fs-h1: 2.75rem;
	--fs-h2: 2rem;
	--fs-h3: 1.5rem;
	--fs-body: 1rem;
	--fs-sol-heading: 2.25rem;
	--fs-sol-text: 1.5rem;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 800;
	--box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
	--transition: all 0.3s ease;
}

/* Button styles */
.btn {
	padding: 0.5em 1em;
	border: 1px solid var(--clr-accent-light);
	background-color: transparent;
	color: var(--clr-accent-light);
	cursor: pointer;
	transition: var(--transition);

	&-primary {
		border-radius: 5px;
		text-transform: uppercase;
	}

	&-circle {
		border-radius: 50%;
	}

	&:hover,
	&:active {
		border-color: var(--clr-secondary);
		color: var(--clr-secondary);
	}
}
