/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/* Set global font and properties */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--fs-body);
	font-weight: var(--fw-regular);
	line-height: 1.5;
	text-align: center;
	background-color: var(--clr-dark);
	color: var(--clr-light);
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

p {
	font-size: var(--fs-body);
}

h2,
h3 {
	text-transform: uppercase;
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid var(--clr-accent);
}

.current-season {
	text-transform: capitalize;
}

a {
	transition: var(--transition);

	&:link,
	&:visited {
		color: var(--clr-accent);
	}

	&:hover,
	&:active {
		color: var(--clr-light);
	}
}
